node_modules/
out/
dist/
media/main.js
.vscode-test/
.history/
*.log
.env
.DS_Store
Thumbs.db
coverage/
test-target/
.vscode-test/

# Proyectos y ejemplos locales
EJEMPLOS DE CODIGOS/
*.vsix
package-lock.json
